<div>
    <h2><span translate="mpiloApp.vet.detail.title">Vet</span> {{vet.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <!--
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            -->
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="mpiloApp.vet.firstName">FirstName</span>
                </td>
                <td>
                    <span class="form-control-static">{{vet.firstName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="mpiloApp.vet.lastName">LastName</span>
                </td>
                <td>
                    <span class="form-control-static">{{vet.lastName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="mpiloApp.vet.specialty">specialty</span>
                </td>
                <td>
                    <span ng-repeat="specialty in vet.specialtys">
                        <a class="form-control-static" ui-sref="specialty.detail({id: {{specialty.id}}})">{{specialty.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info btn-raised">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
