<div>
    <h2 translate="mpiloApp.vet.home.title">Vets</h2>
    <jh-alert></jh-alert>

        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8 text-right">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'entity.action.search' | translate }}">
                    </div>
                    <button class="btn btn-info btn-sm btn-raised" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Vet</span>
                    </button>
                    <button class="btn btn-primary btn-sm btn-raised" ui-sref="vet.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="mpiloApp.vet.home.createLabel">Create a new Vet</span>
                    </button>
                </form>
            </div>
        </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstName"><span translate="mpiloApp.vet.firstName">FirstName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastName"><span translate="mpiloApp.vet.lastName">LastName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vet in vets track by vet.id">
                    <td><a ui-sref="vet.detail({id:vet.id})">{{vet.id}}</a></td>
                    <td>{{vet.firstName}}</td>
                    <td>{{vet.lastName}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="vet.detail({id:vet.id})"
                                class="btn btn-info btn-sm btn-raised">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="vet.edit({id:vet.id})"
                                class="btn btn-primary btn-sm btn-raised">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="vet.delete({id:vet.id})"
                                class="btn btn-danger btn-sm btn-raised">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
