<div>
    <h2><span translate="mpiloApp.pet.detail.title">Pet</span> {{pet.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <!--
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            -->
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="mpiloApp.pet.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{pet.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="mpiloApp.pet.birthDate">BirthDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pet.birthDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="mpiloApp.pet.petType">petType</span>
                </td>
                <td>
                    <a class="form-control-static"
                       ui-sref="petType.detail({id:pet.petType.id})">{{pet.petType.name}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="mpiloApp.pet.user">user</span>
                </td>
                <td>
                    {{pet.user.firstName}} {{pet.user.lastName}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info btn-raised">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
