<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" ng-hide="pet.id" id="myPetLabel" translate="mpiloApp.pet.home.createLabel">Create or edit a
            Pet</h4>
        <h4 class="modal-title" ng-show="pet.id" id="myPetLabel" translate="mpiloApp.pet.home.createOrEditLabel">Create or edit a
            Pet</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <!--
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pet.id" readonly />
        </div>
        -->
        <div class="form-group">
            <label class="control-label" translate="mpiloApp.pet.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="pet.name"
                   required/>

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mpiloApp.pet.birthDate" for="field_birthDate">BirthDate</label>
            <input id="field_birthDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}"
                   ng-model="pet.birthDate" is-open="datePickerForBirthDate.status.opened"
                   required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForBirthDateOpen($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
            </span>

            <div ng-show="editForm.birthDate.$invalid">
                <p class="help-block"
                   ng-show="editForm.birthDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="mpiloApp.pet.petType" for="field_petType">petType</label>
            <select class="form-control" id="field_petType" name="petType" ng-model="pet.petType"
                    ng-options="petType as petType.name for petType in pettypes track by petType.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label translate="mpiloApp.pet.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="pet.user"
                    ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary btn-raised">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
