<div>

    <jh-alert></jh-alert>

    <div class="row">
        <div class="col-md-4">
            <h2 translate="mpiloApp.pet.home.title">Pets</h2>
        </div>
        <div class="col-md-8 text-right">
            <form name="searchForm" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{'entity.action.search' | translate }}">
                </div>
                <button class="btn btn-info btn-sm btn-raised" ng-click="search()"><span
                        class="glyphicon glyphicon-search"></span> <span>Search a Pet</span>
                </button>
                <button class="btn btn-primary btn-sm btn-raised" ui-sref="pet.new">
                    <span class="glyphicon glyphicon-plus"></span> <span translate="mpiloApp.pet.home.createLabel">Create a new Pet</span>
                </button>
            </form>
        </div>
    </div>
    l


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span translate="mpiloApp.pet.name">Name</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="birthDate"><span translate="mpiloApp.pet.birthDate">BirthDate</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="petType.name"><span translate="mpiloApp.pet.petType">petType</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="user.login"><span translate="mpiloApp.pet.user">user</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pet in pets track by pet.id">
                <td><a ui-sref="pet.detail({id:pet.id})">{{pet.id}}</a></td>
                <td>{{pet.name}}</td>
                <td>{{pet.birthDate | date:'mediumDate'}}</td>
                <td>
                    <a ui-sref="petType.detail({id:pet.petType.id})">{{pet.petType.name}}</a>
                </td>
                <td>
                    {{pet.user.firstName }} {{pet.user.lastName}}
                </td>
                <td>
                    <button type="submit"
                            ui-sref="pet.detail({id:pet.id})"
                            class="btn btn-info btn-sm btn-raised">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="pet.edit({id:pet.id})"
                            class="btn btn-primary btn-sm btn-raised">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="pet.delete({id:pet.id})"
                            class="btn btn-danger btn-sm btn-raised">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
