
<div>
    <h2><span translate="mpiloApp.petType.detail.title">PetType </span> </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <!--
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            -->
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="mpiloApp.petType.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{petType.name}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info btn-raised">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
