<div>

    <jh-alert></jh-alert>
        <div class="row">
            <div class="col-md-4">
                <h2 translate="mpiloApp.petType.home.title">PetTypes</h2>
            </div>
            <div class="col-md-8 text-right">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{'entity.action.search' | translate}}">
                    </div>
                    <button class="btn btn-info btn-sm btn-raised" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a PetType</span>
                    </button>
                    <button class="btn btn-primary btn-sm btn-raised" ui-sref="petType.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="mpiloApp.petType.home.createLabel">Create a new PetType</span>
                    </button>
                </form>
            </div>
        </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="mpiloApp.petType.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="petType in petTypes track by petType.id">
                    <td><a ui-sref="petType.detail({id:petType.id})">{{petType.id}}</a></td>
                    <td>{{petType.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="petType.detail({id:petType.id})"
                                class="btn btn-info btn-sm btn-raised">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="petType.edit({id:petType.id})"
                                class="btn btn-primary btn-sm btn-raised">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="petType.delete({id:petType.id})"
                                class="btn btn-danger btn-sm btn-raised">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
