<div>

    <jh-alert></jh-alert>

    <div class="row">
        <div class="col-md-4">
            <h2 translate="mpiloApp.specialty.home.title">Specialties</h2>
        </div>
        <div class="col-md-8 text-right">
            <form name="searchForm" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                           placeholder="Search">
                </div>
                <button class="btn btn-info btn-sm btn-raised" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Specialty</span>
                </button>
                <button class="btn btn-primary btn-sm btn-raised" ui-sref="specialty.new">
                    <span class="glyphicon glyphicon-plus"></span> <span
                        translate="mpiloApp.specialty.home.createLabel">Create a new Specialty</span>
                </button>
            </form>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span translate="mpiloApp.specialty.name">Name</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="specialty in specialtys track by specialty.id">
                <td><a ui-sref="specialty.detail({id:specialty.id})">{{specialty.id}}</a></td>
                <td class="text-center">{{specialty.name}}</td>
                <td>
                    <button type="submit"
                            ui-sref="specialty.detail({id:specialty.id})"
                            class="btn btn-info btn-sm btn-raised">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="specialty.edit({id:specialty.id})"
                            class="btn btn-primary btn-sm btn-raised">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="specialty.delete({id:specialty.id})"
                            class="btn btn-danger btn-sm btn-raised">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
