
<div>
    <h2><span translate="mpiloApp.visit.detail.title">Visit</span> {{visit.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="mpiloApp.visit.date">Date</span>
                </td>
                <td>
                    <span class="form-control-static">{{visit.date | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="mpiloApp.visit.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{visit.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="mpiloApp.visit.pet">pet</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="pet.detail({id:visit.pet.id})">{{visit.pet.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
