<div>

    <jh-alert></jh-alert>

        <div class="row">
            <div class="col-md-4">
                <h2 translate="mpiloApp.visit.home.title">Visits</h2>
            </div>
            <div class="col-md-8 text-right">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'entity.action.search' | translate }}">
                    </div>
                    <button class="btn btn-info btn-sm btn-raised" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Visit</span>
                    </button>
                    <button class="btn btn-primary btn-sm btn-raised" ui-sref="visit.new">
                        <span class="glyphicon glyphicon-plus"></span> <span translate="mpiloApp.visit.home.createLabel">Create a new Visit</span>
                    </button>
                </form>
            </div>
        </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="mpiloApp.visit.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="mpiloApp.visit.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pet.name"><span translate="mpiloApp.visit.pet">pet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="visit in visits track by visit.id">
                    <td><a ui-sref="visit.detail({id:visit.id})">{{visit.id}}</a></td>
                        <td>{{visit.date | date:'mediumDate'}}</td>
                    <td>{{visit.description}}</td>
                    <td>
                        <a ui-sref="pet.detail({id:visit.pet.id})">{{visit.pet.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="visit.detail({id:visit.id})"
                                class="btn btn-info btn-sm btn-raised">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="visit.edit({id:visit.id})"
                                class="btn btn-primary btn-sm btn-raised">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="visit.delete({id:visit.id})"
                                class="btn btn-danger btn-sm btn-raised">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
