
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" ng-hide="visit.id" id="myVisitLabel" translate="mpiloApp.visit.home.createLabel">Create or edit a Visit</h4>
        <h4 class="modal-title" ng-show="visit.id" id="myVisitLabel" translate="mpiloApp.visit.home.createOrEditLabel">Create or edit a Visit</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
         <div class="form-group">
            <label class="control-label" translate="mpiloApp.visit.date" for="field_date">Date</label>
            <input id="field_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="visit.date" is-open="datePickerForDate.status.opened"
            required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mpiloApp.visit.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="visit.description"
                    ng-maxlength="150" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="150">
                    This field cannot be longer than 150 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="mpiloApp.visit.pet" for="field_pet">pet</label>
            <select class="form-control" id="field_pet" name="pet" ng-model="visit.pet" ng-options="pet as pet.name for pet in pets track by pet.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary btn-raised">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
